<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Ülkeler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of countries" (click)="openCountryModal(country)">
      <ion-label>
        <div class="country-info">
          <span class="flag">{{ country.flag }}</span>
          <div class="text-info">
            <h2>{{ country.countryName }}</h2>
            <p>{{ country.capital.name }}</p>
          </div>
        </div>
      </ion-label>
      <ion-button 
        slot="end" 
        fill="clear"
        (click)="toggleFavorite(country); $event.stopPropagation()">
        <ion-icon 
          [name]="isFavorite(country.countryName) ? 'heart' : 'heart-outline'"
          [color]="isFavorite(country.countryName) ? 'danger' : 'medium'"
          class="heart-icon"
          [class.liked]="isFavorite(country.countryName)"
          style="font-size: 24px; --ionicon-stroke-width: 32px;">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

