<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ülke Listesi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let country of countries" class="country-card" (click)="openCountryModal(country)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ country.countryName }}</ion-card-title>
          <ion-card-subtitle>{{ country.visaType }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Maksimum Kalış:</strong> {{ country.maxStay }}</p>
          <p><strong>Notlar:</strong> {{ country.notes }}</p>
        </ion-card-content>
      </ion-card>
      <ion-button 
        fill="clear" 
        slot="end" 
        (click)="toggleFavorite(country); $event.stopPropagation()"
        [color]="isFavorite(country.countryName) ? 'danger' : 'medium'"
      >
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

