<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favoriler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(favoriteCountries$ | async)?.length; else noFavorites">
    <ion-list>
      <ion-item *ngFor="let country of favoriteCountries$ | async" (click)="openCountryModal(country)">
        <ion-label>
          <div class="country-info">
            <span class="flag">{{ country.flag }}</span>
            <div class="text-info">
              <h2>{{ country.countryName }}</h2>
              <p>{{ country.capital.name }}</p>
            </div>
          </div>
        </ion-label>
        <ion-button 
          slot="end" 
          fill="clear"
          (click)="toggleFavorite(country); $event.stopPropagation()">
          <ion-icon 
            name="heart" 
            color="danger"
            class="heart-icon liked"
            style="font-size: 24px; --ionicon-stroke-width: 32px;">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noFavorites>
    <div class="ion-text-center ion-padding">
      <ion-icon 
        name="heart-outline" 
        color="medium" 
        style="font-size: 48px;">
      </ion-icon>
      <h2>Henüz favori ülkeniz yok</h2>
      <p>Ülkeler listesinden favorilerinizi ekleyebilirsiniz</p>
      <ion-button 
        color="tertiary" 
        (click)="goToCountriesList()"
        expand="block"
        class="ion-margin">
        Ülkeleri Görüntüle
      </ion-button>
    </div>
  </ng-template>
</ion-content>
