<ion-header>
  <ion-toolbar>
    <ion-title>{{ country.countryName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Kapat</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ country.visaType }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Maksimum Kalış:</strong> {{ country.maxStay }}</p>
      <p><strong>Notlar:</strong> {{ country.notes }}</p>
    </ion-card-content>
  </ion-card>
</ion-content> 